#dialog-box {
  position: fixed;
  left: 20px;
  top: 200px;
  width: 300px;
  max-height: 500px;
  font-size: 20px;
  color: #53ecf8;
  overflow: auto;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
#dialog-box::-webkit-scrollbar {
  display: none;
}

#dialog-box .line {
  margin: 15px 0;
  line-height: 30px;
  transition: opacity 0.5s;
}

#dialog-box .dialog-responses {
}

#dialog-box .dialog-response {
  display: block;
  margin-top: 20px;
  padding: 10px 16px;
  border: 2px solid #53ecf8;
  cursor: pointer;
  font-size: 20px;
  color: #53ecf8;
}

#dialog-caret {
  display: inline-block;
  width: 10px;
  height: 20px;
  margin-left: 6px;
  margin-top: 5px;
  background-color: #53ecf8;
  vertical-align: top;
  visibility: hidden;
}
#dialog-caret.visible {
  visibility: visible;
}

#powerup-container {
  box-sizing: border-box;
  position: fixed;
  left: 20px;
  top: 105px;
  transition: visibility 1s, opacity 1s;
}
#powerup-container.hidden {
  visibility: hidden;
  opacity: 0;
}

#powerup-bar {
  width: 300px;
  height: 20px;
  border: 2px solid #53ecf8;
}

#powerup-bar #powerup-fill {
  background-color: #53ecf8;
  height: 100%;
  width: 0%;
  transition: width 0.5s;
}

#powerup-trigger {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #53ecf8;
  cursor: pointer;
  font-size: 20px;
  color: #53ecf8;
}

#popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
}
#popup-overlay:not(.active) {
  display: none;
}

#popup-overlay #popup-box {
  text-align: center;
  width: 600px;
  padding: 30px 40px;
  border: 2px solid #53ecf8;
  background-color: black;
  font-size: 20px;
  color: #53ecf8;
}

#popup-overlay #popup-box #popup-box-text {
}

#popup-overlay #popup-box #popup-box-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap;
}

#popup-overlay #popup-box #popup-box-buttons button {
  display: block;
  margin: 20px 20px 0;
  padding: 10px 16px;
  border: 2px solid #53ecf8;
  cursor: pointer;
  font-size: 20px;
  color: #53ecf8;
}

#game-message {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 32px;
  color: #53ecf8;
}
#game-message:not(.active) {
  display: none;
}

#delete-message {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 32px;
  color: red;
}
#delete-message:not(.active) {
  display: none;
}

#delete-bar {
  position: fixed;
  top: 160px;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  height: 50px;
  border: 2px solid red;
  box-sizing: border-box;
}
#delete-bar:not(.active) {
  display: none;
}
#delete-bar-inner {
  width: 0;
  height: 100%;
  background-color: red;
  transition: width 0.5s;
}
